.mainContainer {
    color: #fff;
    display: flex;
    flex-direction: row;
    background-color: initial;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.leftContainer {
    position: relative;
    justify-content: center;
    width: 30%;
    background-color: black;
    backdrop-filter: blur(15px);
}

.leftContainer::before {
    background-image: linear-gradient(to right, rgb(0, 0, 0), transparent);
    width: 250px;
    position: absolute;
    content: "";
    height: 100vh;
    left: 100%;
    top: 0;
}

.rightContainer {
    width: 70%;
    background-color: black;
}
