.castContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    overflow-x: hidden;
}

.castContainer svg {
    margin-right: 0.8rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.image {
    max-height: 180px;
    max-width: 100px;
    margin-right: 0.8rem;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
}

.singleCastContainer {
    display: flex;
    flex-direction: column;
}

.textMuted {
    color: rgb(148, 148, 148);
}

@media screen and (max-width: 600px) {
    .castContainer {
        max-width: 80vw;
        margin-bottom: 4rem;
        overflow-x: scroll;
    }
}
