.container {
    position: relative;
    cursor: pointer;
}

.container img {
    width: 100%;
    border-radius: 1rem;
}

.details {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.show {
    opacity: 1;
    transition: all 250ms linear;
}

.hide {
    opacity: 0;
    transition: all 250ms linear;
}
