.container {
    padding: 3rem;
    padding-top: 5rem;
    display: grid;
    grid-gap: 1rem 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
