.footer {
    position: absolute;
    bottom: 0.5rem;
    right: 50%;
    transform: translateX(50%);
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    border-radius: 3rem;
    z-index: 20;
    white-space: nowrap;
}

.footer div {
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
}

.footer a {
    color: #fff;
}
.footer a:hover {
    color: #fff;
    text-decoration: none;
}

.navActive {
    color: #bb86fc !important;
}

@media screen and (max-width: 1023px) {
    .footer {
        position: fixed;
        bottom: 0.5rem;
    }
}
