.imagesContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    padding: 1rem;
    overflow-x: auto;
}

.image {
    max-height: 120px;
    max-width: 200px;
    margin-right: 0.4rem;
    cursor: pointer;
}
