.mainContainer {
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: initial;
    height: 100vh;
    width: 100%;
    position: absolute;
}

.topContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    height: 65%;
    background-color: black;
}

.bottomContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    background-color: black;
}

.bottomContainer::after {
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
    height: 60px;
    position: absolute;
    content: "";
    width: 100%;
    bottom: 100%;
}

@media screen and (max-width: 1023px) {
    .mainContainer {
        height: auto;
    }

    .topContainer {
        min-height: 65vh;
        height: 65%;
    }
}
